body {
  border: 1px solid red;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.container {
  border: 1px solid red;
  width: 80vw;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 2vw;
  }
}

@media screen and (min-width: 500px) {
  body {
    font-size: 62.5%;
  }
}

@media screen and (max-width: 840px) {
  .big-header-links {
    display: none;
  }

  .small-header-links {
    display: flex;
  }
}

@media screen and (min-width: 840px) {
  .big-header-links {
    display: flex;
  }

  .small-header-links {
    display: none;
  }
}

header {
  width: 100%;
  height: 7vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.header-buttons {
  align-items: center;
  display: flex;
  height: 100%;
  float: left;
}

.header-buttons button {
  outline: none;
  border: 1px solid red;
  margin-right: 2em;
  margin-left: 2em;
}

.theme-button {
  float: left;
  height: 2.5em;
  width: 2.5em;
}

.language-button {
  float: right;
  height: 2.5em;
  width: 3.7em;
}

.big-header-links {
  font-size: 1.6em;
  float: right;
  height: 100%;
}

.bm-burger-button {
  float: right;
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: white;
}

.big-header-links ul {
  height: auto;
  float: right !important;
  align-self: center;
  list-style: none;
}

.big-header-links ul li {
  display: inline;
}

.big-header-links ul li a {
  padding: 0 25px;
  vertical-align: middle;
  font-weight: 700;
  display: inline-block;
}

.first-section {
  margin-top: 0px;
  height: 87vh !important;
}

.first-section-title {
  display: table;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  font-size: 9em;
}

.first-section-description {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 2.3em;
  margin-bottom: 2em;
}

.first-section-label {
  position: relative;
  top: 25%;
  margin-left: 2em;
  margin-right: 2em;
}

.first-section-icons {
  display: table;
  margin: 0 auto;
}

.first-section-icons svg {
  vertical-align: middle;
  height: 4em;
  width: 4em;
  margin-left: 2em;
  margin-right: 2em;
}

.second-section {
  height: 500px;
  background-color: #2c2f33;
}

.second-section-margin {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: inherit;
  margin-left: 2em;
  margin-right: 2em;
}

.second-section-label {
  height: 300px;
}

.second-section-label-image {
  display: block-inline;
  float: left;
  height: inherit;
  margin-right: 2em;
}

.second-section-label img {
  height: inherit;
}

.second-section-label-text {
  float: right;
}

.second-section-label-text :first-child {
  margin-bottom: 1em;
  font-size: 3.5em;
}

.second-section-label-text :last-child {
  line-height: 1.6em;
  font-size: 1.7em;
}
