body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 48px;
  margin-top: 1.7em;
  margin-bottom: 1.7em;
  font-size: 1.6em;
}

.header-buttons {
  font-weight: 700;
  height: 100%;
  float: left;
}

.header-buttons button {
  outline: none;
  border: none;
  height: inherit;
  margin-left: 25px;
  margin-right: 25px;
}

.theme-button {
  float: left;
}

.theme-button img {
  height: 25px;
  vertical-align: middle;
}

.language-button {
  float: right;
}

.language-button img {
  vertical-align: middle;
  height: 40px;
}

.header-links {
  float: right;
  height: 100%;
}

.header-links ul {
  height: inherit;
  float: right !important;
  margin: 0 auto;
  list-style: none;
}

.header-links ul li {
  display: inline;
}

.header-links ul li a {
  font-weight: 700;
  padding: 13px 25px;
  display: inline-block;
}

.first-section {
  justify-content: center;
  height: 607px;
}

.first-section-title {
  display: table;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 3.8em;
}

.first-section-description {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
}

.first-section-label {
  margin-top: 200px;
  margin-left: 2em;
  margin-right: 2em;
}
